# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore model save
model_saves/

# Ignore folder
output/
input/
data/
catboost_info/
.git.**/
__pycache__/
ckpts/
checkpoints/
evaluation/

# Ignore file
bfg-1.14.0.jar
