# Ignore log files
*.log


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore model save
model_saves/

# Ignore folder
competition1/output/
competition2/output/
competition3/output/
input/
data/
catboost_info/
.git.**/
__pycache__/
ckpts/
checkpoints/
evaluation/
logs/

# Ignore file
bfg-1.14.0.jar

competition4/dataset
competition4/evaluation
# competition4/output
competition4/*ipynb
competition4/model_funk_svd
competition4/model_funk_svd_update



ref/
